@model Toets1_Start.Models.Opdracht2

<h1>@ViewBag.Naam</h1>

<form asp-action="Opdracht2" method="post">

    <input id="naam" type="text" name="naam" placeholder="Vul hier uw naam in" style="width:400px;"/>
    <br />
    <br />
    <button type="submit" style="width:250px;">Submit</button>

</form>

@if(ViewBag.awnser != null)
{
    
    <p>@ViewBag.awnser</p>
    
}